<%= javascript_pack_tag('show_product') %>
<%= javascript_pack_tag('message_validation') %>
<%= javascript_pack_tag('like_form') %>

<%= provide(:title, "#{@product.name}の商品画面") %>
<h2 class="text-center mb-3">
  <%= @product.name %>
  <%= trade_status(@product) %>
</h2>

<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <div calss="col-md-6" id="show-product">
        <img v-bind:src="image" data-image="<%= @product.image %>" id="product-image" class="auto-image-300-300">
        <div class="product-show-images-small">
          <% @product.images.each do |image| %>
            <%= image_tag(image.variant(gravity: :center, resize:"70x70^", crop:"70x70+0+0").processed,
              'v-on:click' => "onClick($event)", data: { index: get_image_index(@product.images, image) }) %>
          <% end %>
        </div>
      </div>

      <div class="col-md-6">
        <table class="table table-bordered">
          <tr>
            <th class="show-product-table-th">出品者</th>
            <td v-on:click="requestUserPath" data-user-id="<%= @product.user.id %>" role="link"
              class="show-product-user-link"><%= @product.user.account_name %></td>
          </tr>
          <tr>
            <th class="show-product-table-th">カテゴリー</th>
            <td><%= @product.category.name %></td>
          </tr>
          <tr>
            <th class="show-product-table-th">商品の状態</th>
            <td><%= @product.status.name %></td>
          </tr>
          <tr>
            <th class="show-product-table-th">発送元地域</th>
            <td><%= @product.user.prefecture.name %></td>
          </tr>
          <tr>
            <th class="show-product-table-th">発送日時</th>
            <td><%= @product.shipping_day.days %>で発送</td>
          </tr>
        </table>
      </div>
    </div>

    <% if current_user != @product.user && !@product.traded? %>
      <%= link_to('購入する', purchace_product_path(@product), data: { confirm: '本当に購入しますか？' },
        method: :put, class: 'btn btn-danger btn-block btn-lg mt-5') %>
    <% end %>

    <h5 class="my-5"><%= @product.description %></h5>

    <% if current_user == @product.user || @product.traded? %>
      <h5 id="like-badge">
        <span class="badge badge-secondary badge-pill">
          <i class="fa fa-heart"></i> いいね！ <%= @product.likes.count %>
        </span>
      </h5>
    <% else %>
      <form id="like-form">
        <h5 data-already-like="<%= current_user.like?(@product) %>" data-likes-count="<%= @product.likes.count %>"
          v-on:click="onClick(<%= @product.id %>)" id="like-badge">
          <span v-bind:class="badge">
            <i class="fa fa-heart"></i> いいね！ <span id="likes-count">{{ likes_count }}</span>
          </span>
        </h5>
      </form>
    <% end %>

    <% if current_user == @product.user && !@product.traded? %>
      <%= link_to('商品を編集する', edit_product_path(@product), class: 'btn btn-lg btn-primary btn-block mt-5 my-3') %>
      <%= link_to('商品を削除する', product_path(@product), method: :delete, class: 'btn btn-lg btn-danger btn-block')%>
    <% end %>

    <% unless @product.messages.empty? %>
      <div id="messages" class="mb-5">
        <%= render(@product.messages) %>
      </div>
    <% end %>


    <% unless @product.traded? %>
      <%= form_with(model: @message, url: messageable_post_url, local: true, class: 'message-form') do |f| %>
        <h5>メッセージ（200文字以内）</h5>
        <%= f.text_area(:content, class: 'form-control mb-3', rows: 5, 'v-on:input' => 'onInput($event)') %>
        <p v-show="!is_longer" class="message-form-initial-empty-error-messgae"></p>
        <p v-show="is_longer" class="message-form-error-message">200文字以内で入力して下さい。</p>
        <%= f.submit('メッセージを送る', class: 'btn btn-primary btn-block') %>
      <% end %>
    <% end %>
  </div>
</div>