<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <title><%= get_title(yield(:title)) %></title>
  </head>

  <body>
    <%= render('layouts/header') %>
    <%= render('layouts/flash') %>
    <div class="container main">
      <%= yield %>
    </div>
    <%= render('layouts/footer') %>
  </body>
</html>
