<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= get_title(yield(:title)) %></title>
  </head>

  <body>
    <%= render('layouts/header') %>
    <%= render('layouts/flash') %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render('layouts/footer') %>
  </body>
</html>
